#scrollToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #29602c;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#scrollToTop:hover {
  background-color: #555;
}

#submit {

  font-size: 18px;
  border: none;
  outline: none;
 
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
	background-color: #00cc00;
    position:relative;
    transition: .5s ease;
    
    
}

#submit:hover {
  background-color: #009933;
}